:root {
  --color-base-background: url("./images/bg.jpg");
  --color-base-background-lighter: #ebebeb94;
  --color-base-text: rgb(255, 255, 255);
  --color-base-text-dark: rgb(0, 0, 0);
  --color-base-text-lighter: rgb(255, 255, 255);
  --color-border: rgba(173, 173, 173, 0.747);
  --color-primary-background: #bf60ff;
  --color-primary-text: #b494ff;
}
